.main{
    justify-items: center;
    height: 750px;
    width: 750px;
    background-color: antiquewhite;
    
}
input{
    height: 40px;
    width: 25vw;
    margin: 20px;
}
button{
    padding: 10px;
}
.divisio{
    background-color: rgb(253, 253, 253);
    margin-top: 50px;
    height: 500px;
    width: 500px;
}